# Временные и сгенерированные файлы
certificates/
*.pptx
*.pdf

# Логи
cert_log.txt

# Файлы данных с личной информацией
data/test_list.xlsx

# Python-кэш и виртуальные окружения
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Конфиденциальные настройки (если добавите файл с API-ключами)
config.py
secrets.py

# IDE-файлы
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db