certificates/
*.pptx
*.pdf

cert_log.txt

data/test_list.xlsx

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

config.py
secrets.py

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db